---
import { getCollection } from "astro:content";
import MDContainer from "~/components/MDContainer.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { isTextAgent } from "~/utils/detect-text-agent";
import { renderMD } from "~/utils/render-markdown";
const posts = await getCollection("blog");

if (isTextAgent(Astro.request)) {
	const content = `# Blog
  
  - [RSS](https://thecomputerm.hashnode.dev/rss.xml)
  - [Hashnode (Canonical)](https://thecomputerm.hashnode.dev/)

  ------

  ${posts.map((post, i) => `${i + 1}. [${post.data.title}](/blog/${post.id})`).join("\n")}
  `;

	return new Response(renderMD(content), {
		headers: Astro.response.headers,
	});
}
---

<BaseLayout>
  <MDContainer>
    <h1>Blog</h1>
    <ul>
      <li>
        <a href="https://thecomputerm.hashnode.dev/rss.xml" target="_blank">RSS</a>
      </li>
      <li>
        <a href="https://thecomputerm.hashnode.dev/" target="_blank">Hashnode (Canonical)</a>
      </li>
    </ul>
    <hr />
    <ol>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ol>
  </MDContainer>
</BaseLayout>
