@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--font-sans: "JetBrains Mono Variable", monospace;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0 0 0);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.205 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.58 0.22 27);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.205 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(1 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(1 0 0);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.87 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.87 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	:root {
		font-optical-sizing: auto;
		font-style: normal;
		font-variant-numeric: tabular-nums lining-nums;
		@apply text-sm sm:text-base;
	}

	/* for base-ui */
	.root {
		isolation: isolate;
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--color-foreground) transparent;
		@apply border-border outline-ring/50;
	}

	body {
		@apply font-medium relative;
		@apply bg-background text-foreground;
	}

	p {
		word-break: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}

	ul {
		list-style-type: square;
		padding: 0 0 0 2ch;
	}

	ol {
		list-style-type: none;
		counter-reset: item;

		ol {
			padding: 0 0 0 3ch;
		}

		li:before {
			@apply font-medium;
			content: counters(item, ".") ". ";
			counter-increment: item;
		}
	}

	strong {
		@apply font-bold;
	}

	table {
		@apply border-collapse w-full relative;
	}

	th,
	td {
		@apply border-2 text-left p-2 align-top;
	}

	th {
		@apply font-extrabold;
	}

	img,
	video {
		@apply w-full;
		display: block;
		object-fit: contain;
		overflow: hidden;
	}

	img {
		font-style: italic;
	}

	a:not(.reset) {
		@apply underline decoration-2 bg-popover;

		&:link,
		&:visited {
			@apply dark:text-foreground;
		}

		@variant hover {
			@apply bg-foreground text-background;
		}

		@variant focus {
			@apply bg-foreground text-background outline-none;
		}
	}
}

@layer components {
	.prose {
		@apply max-w-prose;

		:first-child {
			@apply mt-0;
		}

		:last-child {
			@apply mb-0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply font-extrabold;
		}

		h1,
		h2 {
			@apply uppercase;
		}

		h1 {
			@apply text-2xl sm:text-3xl mt-6 sm:mt-8 mb-4;
		}

		h2 {
			@apply text-lg sm:text-xl mt-5 sm:mt-7 mb-3;
		}

		h3 {
			@apply mt-4 sm:mt-6 mb-2;
		}

		p {
			@apply my-4;
		}

		hr {
			@apply border-y-2 h-1.5 my-8;
		}

		pre {
			white-space: pre;
			overflow-x: auto;
			overflow-y: hidden;
			@apply my-4 py-1;
		}
	}
}
