.btn {
    @extend .z-depth-1;
    border-radius: $button-border-radius;
    padding: $button-padding;
    font-size: $button-font-size;
    margin: $button-margin;
    background-color: $secondary-color;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 400;
    color: white;
    transition: 0.4s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    i {
        font-size: $button-icon-size;
        vertical-align: sub;
        &.left {
            margin-right: $button-icon-margin;
            float: left;
        }
        &.right {
            margin-left: $button-icon-margin;
            float: right;
        }
    }
    &:hover {
        @extend .z-depth-1-half;
    }
    &.disabled {
        background-color: color('grey', 'lighten-2') !important;
        cursor: not-allowed;
        pointer-events: none;
        box-shadow: none !important;
        &:hover {
            box-shadow: none !important;
        }
    }
}

.btn-large {
    @extend .btn;
    padding: $button-large-padding;
    font-size: $button-large-font-size;
    i {
        font-size: $button-large-icon-size;
        vertical-align: sub;
        &.left {
            margin-right: $button-icon-margin;
            float: left;
        }
        &.right {
            margin-left: $button-icon-margin;
            float: right;
        }
    }
}

.btn-small {
    @extend .btn;
    padding: $button-small-padding;
    font-size: $button-small-font-size;
    i {
        font-size: $button-small-icon-size;
        vertical-align: sub;
        &.left {
            margin-right: $button-icon-margin;
            float: left;
        }
        &.right {
            margin-left: $button-icon-margin;
            float: right;
        }
    }
}

.btn-rounded {
    border-radius: 10em;
}

.btn-flat {
    @extend .btn;
    box-shadow: none !important;
    background-color: white;
    color: black;
    font-weight: 500;
    letter-spacing: 0.09rem;
    &:hover {
        box-shadow: none !important;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-fab {
    @extend .btn;
    padding: 0;
    height: $button-fab-size;
    width: $button-fab-size;
    border-radius: 50%;
    &.halfway-fab {
        position: absolute;
        right: 28px;
        margin: 0;
        top: -$button-fab-size/2;
    }
    i {
        vertical-align: middle;
        font-size: $button-fab-icon-size;
        line-height: $button-fab-size;
    }
    &.btn-large {
        height: $button-fab-large-size;
        width: $button-fab-large-size;
        &.halfway-fab {
            position: absolute;
            right: 28px;
            margin: 0;
            top: -$button-fab-large-size/2;
        }
        i {
            font-size: $button-fab-large-icon-size;
            line-height: $button-fab-large-size;
        }
    }
    &.btn-small {
        height: $button-fab-small-size;
        width: $button-fab-small-size;
        &.halfway-fab {
            position: absolute;
            right: 28px;
            margin: 0;
            top: -$button-fab-small-size/2;
        }
        i {
            font-size: $button-fab-small-icon-size;
            line-height: $button-fab-small-size;
        }
    }
}
