.card {
    @extend .z-depth-1-half;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $card-border-radius;
    line-height: 1.5;
    font-weight: 400;
    word-wrap: break-word;
    &.card-cascade {
        .cascade {
            z-index: 2;
            @extend .z-depth-2;
            border-radius: $card-border-radius * 2;
            overflow: hidden;
        }
        &.wide {
            box-shadow: none !important;
            .card-body {
                margin-left: $card-cascade-margin;
                margin-right: $card-cascade-margin;
                z-index: 1;
                @extend .z-depth-1-half;
            }
        }
        &.narrow {
            .cascade {
                margin-left: $card-cascade-margin;
                margin-right: $card-cascade-margin;
                margin-top: -1.25rem;
            }
            .card-body {
                z-index: 1;
            }
        }
    }
    .card-image {
        width: 100%;
        display: block;
        position: relative;
        vertical-align: middle;
        border-style: none;
        img {
            width: 100%;
        }
        .card-title {
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 24px;
            max-width: 100%;
            font-weight: 300;
        }
    }

    .card-banner {
        @extend .card-image;
        padding: 1.6rem 1rem;
        text-align: center;
    }

    .card-up {
        overflow: hidden;
        height: $card-up-height;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card-body {
        padding: $card-body-padding;
        flex: 1 1 auto;
        position: relative;
    }
    .card-title {
        margin: 0.75rem 0rem;
    }

    .card-avatar {
        width: $card-avatar-width;
        margin: auto;
        margin-top: -$card-avatar-width/2;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid white;
        img {
            width: 100%;
            border-style: none;
            vertical-align: middle;
        }
    }
}

.card-panel {
    padding: $card-panel-padding;
    margin: 0.5rem 0 1rem 0;
    border-radius: $card-border-radius;
    @extend .z-depth-1-half;
}

.card-grid {
    columns: 3;
    column-gap: 1rem;
    .card {
        display: inline-block;
        margin-bottom: 1.2rem;
    }
    @media #{$small-and-down} {
        columns: 1;
        column-gap: 0.5rem;
    }
}
