.page-footer {
    padding-top: 1.5rem;
    display: block;
    color: #fff;
    background-color: $primary-color;
    .footer-copyright {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 1);
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
}
