.tabs {
    position: relative;
    display: flex;
    overflow-x: auto;
    &.fixed-width {
        .tab {
            flex-grow: 0;
            flex-basis: auto;
            padding: 0 24px;
            justify-content: space-around;
            flex-direction: column;
            height: 72px;
            i {
                padding-top: 8px;
                font-size: $tab-fixed-icon-size;
                padding-right: 0;
            }
        }
    }
    .tab {
        display: flex;
        flex-grow: 1;
        letter-spacing: 0.09rem;
        font-size: $tab-font-size;
        text-align: center;
        font-weight: 500;
        text-decoration: none;
        color: $tab-color;
        text-transform: uppercase;
        line-height: $tab-line-height;
        justify-content: center;
        height: 48px;
        align-items: center;
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: $tab-hover-color;
        }
        &:focus {
            background-color: $tab-focus-color;
        }
        &.active {
            color: $primary-color;
        }
        i {
            padding-right: 8px;
            font-size: $tab-icon-size;
        }
        &.disabled {
            pointer-events: none;
            color: $disabled-color;
        }
    }
    .tab-indicator {
        position: absolute;
        height: 2px;
        background-color: $primary-color;
        will-change: top, left, right;
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.tab-content {
    padding-top: 16px;
    display: none;
}
