// Colors
$primary-color: color('blue', 'base') !default;
$secondary-color: color('purple', 'lighten-1') !default;
$default-color: color('teal', 'base') !default;
$success-color: color('green', 'base') !default;
$info-color: color('cyan', 'base') !default;
$danger-color: color('red', 'base') !default;
$warning-color: color('yellow', 'base') !default;
$disabled-color: rgba(0, 0, 0, 0.3);

// Navbar
$navbar-padding: 0.5rem 1rem;
$navbar-brand-font-size: 1.25rem;
$navbar-brand-margin: 2rem;
$navbar-brand-padding: 0.3125rem;
$navbar-line-height: 2.5;
$navbar-nav-item-padding: 0.75rem;

// Cards
$card-border-radius: 0.25rem;
$card-cascade-margin: 4%;
$card-up-height: 120px;
$card-body-padding: 1.5rem 1.25rem;
$card-avatar-width: 120px;
$card-panel-padding: 24px;

// Buttons
$button-border-radius: 0.125rem;
$button-padding: 0.78rem 2.14rem;
$button-font-size: 0.81rem;
$button-margin: 0.375rem;
$button-icon-size: 1rem;
$button-icon-margin: 0.6rem;

$button-large-padding: 1rem 2.4rem;
$button-large-font-size: 0.94rem;
$button-large-icon-size: 1.25rem;

$button-small-padding: 0.5rem 1.6rem;
$button-small-font-size: 0.64rem;
$button-small-icon-size: 0.9rem;

$button-fab-size: 3.6rem;
$button-fab-icon-size: 1.3rem;

$button-fab-large-size: 4.4rem;
$button-fab-large-icon-size: 1.6rem;

$button-fab-small-size: 3rem;
$button-fab-small-icon-size: 1rem;

// Z Index
$z-index-lightbox: 2000;
$z-index-snackbar: 1500;
$z-index-modal: 1002;
$z-index-sidenav: 102;
$z-index-dropdown: 50;
$z-index-navbar: 20;
$z-index-carousel: 4;
$z-index-tooltip: 3;

// Dropdown
$dropdown-radius: 0.25rem;
$dropdown-min-width: 11rem;
$dropdown-item-padding: 1rem;
$dropdown-item-color: rgba(0, 0, 0, 0.87);
$dropdown-hover-item-color: rgba(0, 0, 0, 0.1);
$dropdown-item-font-size: 0.95rem;
$dropdown-item-icon-font-size: 1.4rem;

// Tables
$table-border-color: rgba(0, 0, 0, 0.12) !default;
$table-striped-color: rgba(242, 242, 242, 0.5) !default;

// Collections
$collection-color: rgba(0, 0, 0, 0.87);
$collection-line-height: 1.5rem;
$collection-hover-color: rgba(0, 0, 0, 0.075);
$collection-icon-color: rgba(0, 0, 0, 0.55);
$collection-item-height: 48px;
$collection-item-font-size: 1rem;
$collection-item-icon-size: 1.6rem;

// Collapsible
$collapsible-border-color: color('grey', 'lighten-2');
$collapsible-color: rgba(0, 0, 0, 0.85);
$collapsible-padding: 1rem;
$collapsible-body-padding: 1.5rem 1.6rem;

// Tabs
$tab-font-size: 0.9rem;
$tab-color: rgba(0, 0, 0, 0.75);
$tab-line-height: 2.25rem;
$tab-icon-size: 1.25rem;
$tab-fixed-icon-size: 1.5rem;
$tab-hover-color: rgba(0, 0, 0, 0.08);
$tab-focus-color: rgba(0, 0, 0, 0.15);

// Modals
$modal-padding: 16px 24px;
$modal-border-radius: 2px;
$modal-font-color: rgba(0, 0, 0, 0.87);
$modal-not-center-offset: 10px;
$modal-med-max-width: 500px;
$modal-small-max-width: 300px;
$modal-large-max-width: 800px;
$modal-responsive-max-width: 75%;
$modal-start-offset: -50px;

// Lightbox
$lightbox-bg-color: #000;
$lightbox-controls-bg-color: rgba(0, 0, 0, 0.3);
$lightbox-counter-font-size: 14px;

// Sidenav
$sidenav-user-image-size: 64px;
$sidenav-user-view-padding: 32px 32px 16px;

// Shadow
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important;
$z-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$extra-large-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})' !default;

// Grid
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width * 2)/3 !default;

// Typography
$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.75rem;
$h6-font-size: 1.5rem;
$lead-text-font-size: 1.2rem;
$font-stack: 'Poppins', 'Roboto Mono', 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;

$range: $large-screen - $small-screen !default;
$responsive-intervals: 20 !default;
$responsive-interval-size: $range / $responsive-intervals !default;

// Forms
// Inputs
$input-names: 'input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea';
$input-padding: 20px 0px 6px;
$input-line-height: 1.75rem;
$input-focus-color: $secondary-color;
$input-label-color: rgba(0, 0, 0, 0.6);
$input-color: rgba(0, 0, 0, 0.87);
$input-font-size: 1rem;
$label-font-size: 1rem;
$input-border-color: rgba(0, 0, 0, 0.42);
$input-border: 1px solid $input-border-color;
$input-hover-border-color: rgba(0, 0, 0, 0.87);
$input-filled-padding: 12px 16px 0px;
$input-filled-background-color: #f5f5f5;
$input-outline-border-color: rgba(0, 0, 0, 0.24);
$input-outline-padding: 12px 16px 14px;

// Slider
$slider-height: 6px;
$slider-thumb-size: 20px;
$slider-bg-color: #d3d3d3;
$slider-line-color: $secondary-color;
$slider-thumb-color: $secondary-color;
$slider-tooltip-color: #fff;
$slider-tooltip-bg-color: $secondary-color;

// Select
$select-radius: 0.25rem;
$select-item-padding: 0.6rem;
$select-item-color: rgba(0, 0, 0, 0.87);
$select-hover-item-color: rgba(0, 0, 0, 0.1);
$select-item-font-size: 0.9rem;
$select-item-icon-font-size: 1.4rem;
