---
import ASCIIText from "@/components/ASCIIText/ASCIIText";
import BaseLayout from "@/layouts/Base.astro";
---

<BaseLayout
  title="404 Not Found | TheComputerM"
  description="The page you are looking for does not exist."
>
  <div class="relative h-[calc(100svh-8em)]">
    <ASCIIText client:visible text="404" />
  </div>
</BaseLayout>
