---
import { getEntry, render } from "astro:content";
import { Center, Stack } from "styled-system/jsx";
import MDContainer from "~/components/layout/MDContainer.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
const entry = await getEntry("pages", "index");

if (!entry) {
	return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<BaseLayout title="TheComputerM | Mudit Somani">
	<Center class="banner">
		<Stack align="center">
			<h1 class="title">TCM</h1>
		</Stack>
	</Center>
	<MDContainer>
		<Content />
	</MDContainer>
</BaseLayout>

<style>
	.title {
		text-align: center;
		font-size: clamp(150px, 24vw, 24rem);
		line-height: 1em;
		user-select: none;
		color: #9d00ff;
		text-shadow:
			4px 0 6px #ff0000,
			-4px 0 6px #0000ff,
			0 0 2rem currentColor;
	}

	.banner {
		position: relative;
	}

	.banner::before {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		z-index: 2;
		pointer-events: none;
		mix-blend-mode: color-burn;
		background: linear-gradient(
				rgba(18, 16, 16, 0) 50%,
				rgba(0, 0, 0, 0.25) 50%
			),
			linear-gradient(
				90deg,
				rgba(255, 0, 0, 0.06),
				rgba(0, 255, 0, 0.02),
				rgba(0, 0, 255, 0.06)
			);

		background-size:
			100% 2px,
			3px 100%;
	}

	@keyframes border-beam {
		100% {
			offset-distance: 100%;
		}
	}
</style>
