---
import Navbar from "../components/Navbar";
import Layout from "../layouts/BaseLayout.astro";
import Matrix from "../blocks/Matrix";
import Section from "../components/Section";
import Link from "../components/Link";
---

<Layout title="TheComputerM">
  <Navbar />
  <Matrix client:load />
  <Section>
    <h3>Hey There</h3>
    <p>
      I am Mudit Somani aka TheComputerM. I'm currently a student at _____
      studying _____. I love to code and learn how various technologies
      function. I occasionally <Link href="/blog">blog</Link> about things which
      I find interesting and/or helpful. I read books and play badminton in my spare
      time.
    </p>
  </Section>
  <Section>
    <h3>Experience</h3>
    <p>
      I've been coding from a very young age and have not stopped since. Having
      about 6+ years in programming and 3+ years in web development, I've worked
      with languages such as C++, Python, C#, Rust, Julia, PHP and JavaScript; I
      have also dabbled with web frameworks such as React, SolidJS and Svelte.
      Initially, I started with web development and then slowly explored other
      areas such as open source, cyber security, algorithms, compiler design and
      artificial intelligence.
    </p>
    <p>
      I have participated in some programming competitions and was a finalist in <Link
        href="https://codein.withgoogle.com/archive/2019/"
        >Google Code-In 2019</Link
      >
      for the Julia programming language.
    </p>
    <p>
      Today I enjoy developing applications and finding optimized solutions to
      complex problems.
    </p>
  </Section>
  <Section>
    <h3>Contact Me</h3>
    <p>
      Here is the
      <Link href="https://bio.link/thecomputerm">list of platforms</Link>
      you can find me one, I am most active on
      <Link href="https://twitter.com/TheComputerM">Twitter</Link> though.
      <br />
      If you want to talk just email me at
      <Link href="">mudit.somani00@gmail.com</Link>.
    </p>
  </Section>
</Layout>
