---
import Navbar from "../components/Navbar";
import Link from "../components/Link";
import Section from "../components/Section";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="TheComputerM">
  <Navbar />
  <main>
    <Section>
      <h1>Lists</h1>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>
          Item 4
          <ul>
            <li>Subitem 1</li>
            <li>Subitem 2</li>
            <li>Subitem 3</li>
          </ul>
        </li>
        <li>Item 5</li>
      </ul>
      <hr />
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>
          Item 4
          <ol>
            <li>Subitem 1</li>
            <li>Subitem 2</li>
            <li>Subitem 3</li>
          </ol>
        </li>
        <li>Item 5</li>
      </ol>
    </Section>
    <Section>
      <h1>Typography</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        eveniet placeat amet facilis dolorem debitis iure voluptatibus magni
        deleniti non ipsum quisquam ea maiores quis ad voluptate similique
        cupiditate pariatur, doloribus nostrum dolore. Esse quod corrupti
        consectetur mollitia vitae natus excepturi laudantium, recusandae magni
        consequuntur tenetur officiis at, doloribus inventore.
      </p>
      <hr />
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </Section>
    <Section>
      <h1>Tables</h1>
      <table>
        <caption>
          Most Downloaded Movies on BitTorrent, 2011
        </caption>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Movie</th>
            <th>Downloads</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th colspan="4">torrentfreak.com</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th>1</th>
            <td>Fast Five</td>
            <td>9,260,000</td>
          </tr>
          <tr>
            <th>2</th>
            <td>The Hangover II</td>
            <td>8,840,000</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Thor</td>
            <td>8,330,000</td>
          </tr>
          <tr>
            <th>4</th>
            <td>Source Code</td>
            <td>7,910,000</td>
          </tr>
          <tr>
            <th>5</th>
            <td>I Am Number Four</td>
            <td>7,670,000</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Sucker Punch</td>
            <td>7,200,000</td>
          </tr>
          <tr>
            <th>7</th>
            <td>127 Hours</td>
            <td>6,910,000</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Rango</td>
            <td>6,480,000</td>
          </tr>
          <tr>
            <th>9</th>
            <td>The King’s Speech</td>
            <td>6,250,000</td>
          </tr>
          <tr>
            <th>10</th>
            <td>Harry Potter and the Deathly Hallows Part 2</td>
            <td>6,030,000</td>
          </tr>
        </tbody>
      </table>
    </Section>
    <Section>
      <h1>Special Elements</h1>
      <p>
        I am <Link href="#">the link</Link> example.
        <br />
        I am <abbr title="abbr tag">the abbr tag</abbr> example.
        <br />
        I am <b>the b tag</b> example.
        <br />
        I am <del>the del tag</del> example.
        <br />
        I am <i>the i tag</i> example.
        <br />
        I am <kbd>the kbd tag</kbd> example.
        <br />
        I am <samp>the samp tag</samp> example.
        <br />
        I am <small>the small tag</small> example.
      </p>
    </Section>
    <Section>
      <h1>Credits</h1>
      <ul>
        <li><Link href="https://terminalcss.xyz/dark">terminalcss</Link></li>
      </ul>
    </Section>
  </main>
</Layout>
