---
import { HStack } from "styled-system/jsx";
import { Container } from "styled-system/jsx";
---

<footer>
  <Container borderTopWidth="normal">
    <HStack height="12" justify="space-between">
      <span class="caret-blink">TheComputerM</span>
      {new Date().getFullYear()}
    </HStack>
  </Container>
</footer>

<style>
  .caret-blink {
    font-weight: 900;
    font-size: 1.25rem;
  }

  @keyframes blink {
    100% {
      visibility: hidden;
    }
  }

  .caret-blink::after {
    content: "\2593";
    color: #c3e88d;
    margin-left: 2px;
    text-shadow: 0 0 5px currentColor;
    animation: blink 2s steps(2, start) infinite;
  }
</style>
