---
import { css } from "styled-system/css";
import { Box, Container } from "styled-system/jsx";
import { GridPattern } from "./mystic/GridPattern";
import { token } from "styled-system/tokens";
---

<Box position="relative" py="16">
  <Container display="grid" placeContent="center">
    <Box
      backgroundColor="bg.default"
      borderWidth="normal"
      px="8"
      boxShadowColor="fg.canvas"
      boxShadow={{ sm: "8px 8px 0 0 var(--shadow-color)" }}
    >
      <main class={css({ maxWidth: "prose" })}>
        <slot />
      </main>
    </Box>
  </Container>
  <GridPattern
    width={30}
    height={30}
    class={css({
      zIndex: "-1",
    })}
    style={{
      "mask-image": `radial-gradient(calc(${token.var("sizes.prose")} + 1.5rem) circle,white,transparent)`,
    }}
  />
</Box>
