---
import { css } from "styled-system/css";
import { Box, Container } from "styled-system/jsx";
import { GridPattern } from "./mystic/GridPattern";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<Box position="relative" py="24" class={className}>
  <Container display="grid" placeContent="center">
    <Box
      backgroundColor="bg.default"
      borderWidth="normal"
      px="8"
      boxShadowColor="fg.canvas"
      boxShadow={{ sm: "8px 8px 0 0 var(--shadow-color)" }}
      minWidth="0"
      width="100%"
    >
      <main class={css({ maxWidth: "prose" })}>
        <slot />
        <br />
      </main>
    </Box>
  </Container>
  <GridPattern width={30} height={30} class="grid" />
</Box>

<style>
  .grid {
    z-index: -1;
    mask-image: linear-gradient(
      to bottom,
      transparent,
      white 24rem calc(100% - 24rem),
      transparent
    );
  }
</style>
