---
import { css } from "styled-system/css";
import { Box, Center, Container } from "styled-system/jsx";
---

<Container>
  <Center>
    <Box
      borderWidth="normal"
      px="8"
      boxShadowColor="fg.canvas"
      boxShadow={{ sm: "8px 8px 0 0 var(--shadow-color)" }}
    >
      <main class={css({ maxWidth: "prose" })}>
        <slot />
      </main>
    </Box>
  </Center>
</Container>
