---
import { type CollectionEntry, getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { css } from "styled-system/css";
import ProjectCard from "~/components/ProjectCard.astro";
import { ProjectPagination } from "~/components/ProjectPagination";
import MDContainer from "~/components/layout/MDContainer.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const projects = await getCollection("projects");
	const priorityMap = new Map<string, number>();
	const projectMap = new Map<string, CollectionEntry<"projects">>(
		projects.map((project) => [project.id, project]),
	);

	function getPriority(project: CollectionEntry<"projects">) {
		if (priorityMap.has(project.id)) {
			return priorityMap.get(project.id) as number;
		}

		let priority = 0;
		if (project.data.next) {
			const nextProject = projectMap.get(project.data.next);
			if (!nextProject) {
				throw new Error(`Project with ID ${project.data.next} not found`);
			}
			priority = getPriority(nextProject) + 1;
		}
		priorityMap.set(project.id, priority);
		return priority;
	}

	for (const project of projects) getPriority(project);

	// biome-ignore lint/style/noNonNullAssertion: calculated priority for all projects
	projects.sort((a, b) => priorityMap.get(b.id)! - priorityMap.get(a.id)!);

	return paginate(projects, { pageSize: 3 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"projects">>;
}

const { page } = Astro.props;
---

<BaseLayout title="Projects | TheComputerM">
  <MDContainer>
    <h1 class={css({ marginBottom: "2" })}>Projects</h1>
    <p class={css({ color: "fg.canvas" })}>
      Some of my most cherished and meticulously developed projects.
    </p>
    <hr />
    <ProjectPagination page={page} client:load transition:persist="p1" />
    {page.data.map((project) => <ProjectCard project={project} />)}
    <br />
    <ProjectPagination page={page} client:load transition:persist="p2" />
    <hr />
    <p>
      See more of my work and other open-source contributions over on my
      <a href="https://github.com/TheComputerM" target="_blank">GitHub</a>.
    </p>
  </MDContainer>
</BaseLayout>
