---
import { type CollectionEntry, getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import { css } from "styled-system/css";
import MDContainer from "~/components/MDContainer.astro";
import ProjectCard from "~/components/ProjectCard.astro";
import { ProjectPagination } from "~/components/ProjectPagination";
import BaseLayout from "~/layouts/BaseLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const projects = (await getCollection("projects")).sort(
		(a, b) => b.data.priority - a.data.priority,
	);

	return paginate(projects, { pageSize: 3 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"projects">>;
}

const { page } = Astro.props;
---

<BaseLayout title="Projects | TheComputerM">
  <MDContainer>
    <h1 class={css({ marginBottom: "2" })}>Projects</h1>
    <p class={css({ color: "fg.canvas" })}>
      Some of my most cherished and meticulously developed projects.
    </p>
    <hr />
    <ProjectPagination page={page} client:load transition:persist="p1" />
    {page.data.map((project) => <ProjectCard project={project} />)}
    <br />
    <ProjectPagination page={page} client:load transition:persist="p2" />
    <hr />
    <p>
      See more of my work and other open-source contributions over on my
      <a href="https://github.com/TheComputerM" target="_blank">GitHub</a>.
    </p>
  </MDContainer>
</BaseLayout>
