.radio-field {
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 400;
    input[type='radio'] {
        position: absolute;
        opacity: 0;
        &.with-gap {
            &:checked + span::after {
                background-color: $secondary-color;
                transform: scale(0.5);
            }
        }
        &:checked + span::after {
            background-color: $secondary-color;
            transform: scale(1);
        }
        &:checked + span::before {
            border: 2px solid $secondary-color;
        }
    }
    input[type='radio'][disabled] {
        & + span {
            color: $disabled-color;
            &::before {
                border: 2px solid $disabled-color;
            }
        }
    }
    span {
        color: $input-label-color;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        height: 25px;
        transition: 0.28s ease;
        line-height: 26px;
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
        &::before {
            border: 2px solid $input-border-color;
            border-radius: 50%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            margin: 4px;
            width: 16px;
            height: 16px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            margin: 4px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
            transform: scale(0);
        }
    }
}
