.switch {
    cursor: pointer;
    margin-bottom: 0.5rem;
    display: inline-block;
    input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        pointer-events: none;
        &:checked {
            & + .lever {
                &::after {
                    background-color: $secondary-color;
                    left: 1.5rem;
                }
                background-color: lighten($secondary-color, 25%);
            }
        }
    }
    input[type='checkbox'][disabled] {
        & + .lever {
            background-color: lighten($disabled-color, 55%);
            &::after {
                background-color: #949494;
                box-shadow: none;
            }
        }
    }
    .lever {
        content: '';
        display: inline-block;
        position: relative;
        border-radius: 0.9375rem;
        background-color: color('grey', 'lighten-1');
        vertical-align: middle;
        margin: 0 1rem;
        width: 2.5rem;
        height: 0.9375rem;
        transition: 0.6s ease;
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            border-radius: 1.3125rem;
            left: -0.3125rem;
            top: -0.1875rem;
            box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.4);
            height: 1.3125rem;
            width: 1.3125rem;
            background-color: #fff;
            transition: 0.3s ease;
        }
    }
}
