@import 'main';

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.banner {
    height: 130vh;
    width: 100%;
    background-color: $primary-color;
    border-radius: 0 0 100% 0;
    color: #fff;
    position: relative;
    h1 {
        @media screen and (max-width: 1000px) {
            font-size: 2.5rem;
        }
    }
    img {
        position: absolute;
        width: 30%;
        right: 10%;
        bottom: 5%;
    }
    .dot {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        &::before {
            position: absolute;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            top: -10px;
            left: -10px;
            content: '';
            display: inline-block;
            transform-origin: center center;
            animation: 4s pulse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &::after {
            position: absolute;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            left: -30px;
            top: -30px;
            content: '';
            display: inline-block;
            transform-origin: center center;
            animation: 4s pulse infinite ease;
        }
        $dot1-color: $primary-color;
        $dot2-color: #fff;
        $dot3-color: $secondary-color;
        &:nth-child(1) {
            background-color: $dot1-color;
            right: 10%;
            bottom: 40%;
            &::before {
                background-color: rgba($dot1-color, 0.5);
            }
            &::after {
                background-color: rgba($dot1-color, 0.5);
            }
        }
        &:nth-child(2) {
            background-color: $dot2-color;
            left: 10%;
            top: 57%;
            &::before {
                background-color: rgba($dot2-color, 0.5);
            }
            &::after {
                background-color: rgba($dot2-color, 0.5);
            }
        }
        &:nth-child(3) {
            background-color: $dot3-color;
            right: 40%;
            bottom: 10%;
            &::before {
                background-color: rgba($dot3-color, 0.5);
            }
            &::after {
                background-color: rgba($dot3-color, 0.5);
            }
        }
    }
    @media only screen and (max-width: 1000px) {
        border-radius: 0;
        text-align: center;
        height: unset;
        img {
            position: relative;
            right: unset;
            bottom: unset;
            width: 225px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .dot {
            display: none;
        }
        .badge-c {
            display: block;
            text-align: center;
        }
    }
}

.project-card {
    margin-bottom: 12px;
    .card-body {
        padding: 1.5rem 2rem;
        padding-bottom: 0.5rem;
        p {
            padding: 0;
            margin: 0;
            color: $primary-color;
        }
        .card-title {
            margin-top: 0;
        }
    }
    .card-image {
        display: inherit;
        a {
            display: inherit;
        }
    }
}

.features {
    .feature {
        text-align: center;
        margin-top: 0;
        transition: 0.4s margin-top;
        @media screen and (max-width: 600px) {
            border: 1px #eee solid;
            margin-bottom: 10px;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
        img {
            width: 40%;
        }
        h4 {
            @extend .poppins;
            font-weight: 700;
        }
        &:hover {
            margin-top: -20px;
        }
    }
}