$primary-color: #651fff;
$secondary-color: #4285f4;
$cursor-radius: 32px;

html,
body {
    cursor: none !important;
    * {
        cursor: none !important;
    }
}

.primary {
    background-color: $primary-color;
}
.secondary {
    background-color: $secondary-color;
}
.primary-text {
    color: $primary-color;
}
.secondary-text {
    color: $secondary-color;
}
.badge-c {
    padding: 2px 12px;
    @extend .mono;
}
.poppins {
    font-family: 'Poppins', 'Roboto', 'Segoe UI', sans-serif;
    font-display: swap;
}
.mono {
    font-family: 'Roboto Mono', 'Consolas', monospace;
    font-display: swap;
}

.title {
    p {
        margin: 0;
        font-size: 1.5rem;
        @extend .mono;
    }
    h1 {
        margin: 0;
        color: $primary-color;
        font-weight: 700;
        @extend .poppins;
    }
}

.cursor#cursor-point {
    position: fixed;
    pointer-events: none;
    width: $cursor-radius;
    height: $cursor-radius;
    left: -$cursor-radius/2;
    top: -$cursor-radius/2;
    border-radius: 50%;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.4);
    border: 4px solid rgba($primary-color, 0.9);
    transition: 0.4s border, 0.8s background, 0.2s padding, 0.2s box-shadow;
    &.visit {
        border-radius: 2px;
        background-color: $primary-color;
        border: 0px solid transparent;
        width: 55px;
        left: -25px;
        padding: 5px 0px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &.github {
        width: 50px;
        height: 50px;
        border: 0px solid transparent;
        border-radius: 0;
        background-image: url(../../img/github.svg);
        background-size: cover;
        background-color: transparent;
        top: -25px;
        left: -25px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.banner {
    height: 130vh;
    width: 100%;
    background-color: $primary-color;
    border-radius: 0 0 100% 0;
    color: #fff;
    position: relative;
    img {
        position: absolute;
        width: 30%;
        right: 10%;
        bottom: 5%;
    }
    .dot {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        &::before {
            position: absolute;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            top: -10px;
            left: -10px;
            content: '';
            display: inline-block;
            transform-origin: center center;
            animation: 4s pulse infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &::after {
            position: absolute;
            border-radius: 100%;
            width: 80px;
            height: 80px;
            left: -30px;
            top: -30px;
            content: '';
            display: inline-block;
            transform-origin: center center;
            animation: 4s pulse infinite ease;
        }
        $dot1-color: $primary-color;
        $dot2-color: #fff;
        $dot3-color: $secondary-color;
        &:nth-child(1) {
            background-color: $dot1-color;
            right: 10%;
            bottom: 40%;
            &::before {
                background-color: rgba($dot1-color, 0.5);
            }
            &::after {
                background-color: rgba($dot1-color, 0.5);
            }
        }
        &:nth-child(2) {
            background-color: $dot2-color;
            left: 10%;
            top: 57%;
            &::before {
                background-color: rgba($dot2-color, 0.5);
            }
            &::after {
                background-color: rgba($dot2-color, 0.5);
            }
        }
        &:nth-child(3) {
            background-color: $dot3-color;
            right: 40%;
            bottom: 10%;
            &::before {
                background-color: rgba($dot3-color, 0.5);
            }
            &::after {
                background-color: rgba($dot3-color, 0.5);
            }
        }
    }
    @media only screen and (max-width: 1000px) {
        border-radius: 0;
        text-align: center;
        .title {
            font-size: 3.5rem;
        }
        img {
            position: relative;
            right: unset;
            bottom: unset;
            width: 225px;
            padding-top: 30px;
        }
        .dot {
            display: none;
        }
    }
}

.gradient-text {
    background: -webkit-linear-gradient(45deg, $secondary-color, #64b5f6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.project-card {
    transform-style: preserve-3d;
    &:hover {
        .card-body {
            transform: translateZ(25px);
        }
        .card-image {
            transform: translateZ(40px);
        }
    }
    .card-body {
        transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translateZ(0px);
        padding: 1.5rem 2rem;
        padding-bottom: 0.5rem;
        p {
            padding: 0;
            margin: 0;
            color: $primary-color;
        }
        .card-title {
            margin-top: 0;
        }
    }
    .card-image {
        transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translateZ(0px);
        display: inherit;
        a {
            display: inherit;
        }
    }
}
