@layer reset, base, tokens, recipes, utilities;

@layer base {
	/* shiki dark theme */
	@media (prefers-color-scheme: dark) {
		.astro-code,
		.astro-code span {
			color: var(--shiki-dark) !important;
			background-color: var(--shiki-dark-bg) !important;
		}
	}
}

/* adapted from https://github.com/owickstrom/the-monospace-web/blob/main/index.css */
@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: calc(var(--line-heights-base) * 2) 0 var(--line-heights-base);
		line-height: var(--line-heights-base);
		font-weight: var(--font-weights-bold);
	}

	p:not(:last-child) {
		margin-bottom: var(--line-heights-base);
	}

	sub {
		position: relative;
		display: inline-block;
		margin: 0;
		vertical-align: sub;
		line-height: 0;
		width: calc(1ch / 0.75);
		font-size: .75rem;
	}

	table {
		position: relative;
		top: calc(var(--line-heights-base) / 2);
		border-collapse: collapse;
		margin: 0 0 calc(var(--line-heights-base) * 2);
	}

	th,
	td {
		border: var(--border-widths-base) solid var(--colors-fg-default);
		padding: calc((var(--line-heights-base) / 2))
			calc(1ch - var(--border-widths-base) / 2)
			calc((var(--line-heights-base) / 2) - (var(--border-widths-base)));
		line-height: var(--line-heights-base);
		vertical-align: top;
		text-align: left;
	}

	table tbody tr:first-child > * {
		padding-top: calc(
			(var(--line-heights-base) / 2) -
			var(--border-widths-base)
		);
	}

	th {
		font-weight: 700;
	}

	p {
		word-break: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}

	img,
	video {
		display: block;
		width: 100%;
		object-fit: contain;
		overflow: hidden;
	}

	img {
		font-style: italic;
		color: var(--colors-fg-canvas);
	}

	details {
		border: var(--border-widths-base) solid var(--colors-fg-default);
		padding: calc(var(--line-heights-base) - var(--border-widths-base)) 1ch;
		margin-bottom: var(--line-heights-base);
	}

	summary {
		cursor: pointer;
		font-weight: var(--font-weights-medium);
	}

	details[open] summary {
		margin-bottom: var(--line-heights-base);
	}

	details ::marker {
		display: inline-block;
		content: "▶";
		margin: 0;
	}

	details[open] ::marker {
		content: "▼";
	}

	details :last-child {
		margin-bottom: 0;
	}

	pre {
		white-space: pre;
		overflow-x: auto;
		margin: var(--line-heights-base) 0;
		overflow-y: hidden;
	}

	figure pre {
		margin: 0;
	}

	figure {
		margin: calc(var(--line-heights-base) * 2) 3ch;
		overflow-x: auto;
		overflow-y: hidden;
	}

	figcaption {
		display: block;
		font-style: italic;
		margin-top: var(--line-heights-base);
	}

	ul,
	ol {
		padding: 0;
		margin: 0 0 var(--line-heights-base);
	}

	ul {
		list-style-type: square;
		padding: 0 0 0 2ch;
	}

	ol {
		list-style-type: none;
		counter-reset: item;
		padding: 0;
	}

	ol ul,
	ol ol,
	ul ol,
	ul ul {
		padding: 0 0 0 3ch;
		margin: 0;
	}

	ol li:before {
		content: counters(item, ".") ". ";
		counter-increment: item;
		font-weight: var(--font-weights-medium);
	}

	li {
		margin: 0;
		padding: 0;
	}

	li::marker {
		line-height: 0;
	}

	input:focus {
		outline: none;
	}
}
