---
import "@fontsource-variable/jetbrains-mono";
import "./app.css";
import { ClientRouter } from "astro:transitions";
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "TheComputerM",
	description = "I am Mudit Somani, a CS student at BITS Pilani, GSoC'24 @Dart, Google Code-in '19 @JuliaLang and the president of my college's coding club",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<slot name="head" />
		<ClientRouter />
	</head>
	<body>
		<Navbar client:load />
		<slot />
		<Footer transition:persist="footer" />
	</body>
</html>
